<div class="home">
    <div class="home-jumbo"
         style="background-image: url('{{ jumbo_image|default(citipo_theme_asset_url('assets/home-default.jpg')) }}');">

        {% if jumbo_overlay %}
            <div class="home-jumbo-overlay"></div>
        {% endif %}

        <div class="home-jumbo-intro-container">
            <div class="container-fluid">
                <div class="home-jumbo-intro-view">
                    <h1>
                        Donnez à vos causes tout l'impact qu'elles méritent
                    </h1>
                    <div>
                        <p>Montez en compétences avec nous</p>
                        <a href="">NOS FORMATIONS</a>
                        <a href="">EN SAVOIR PLUS</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="home-blocks">
        {% for key, block in blocks %}
            {% if key != 0 or block.type != 'cta' %}
                {{ block.content|raw }}
            {% endif %}
        {% endfor %}
    </div>
</div>
